apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: hacbs-test-project-vvyp
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-lszs-tenant/rhtap-demo-app/hacbs-test-project-vvyp@sha256:c74e12263262efe53a356a3aee8b9e043ab7a35baf7c41fea684cdb480267e22
        name: hacbs-jvm-build-test-project
        resources: {}
status: {}
