apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: hacbs-test-project-vvyp
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: hacbs-test-project-vvyp
    app.kubernetes.io/part-of: rhtap-demo-app
  name: hacbs-test-project-vvyp
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: hacbs-jvm-build-test-project
      app.kubernetes.io/instance: hacbs-test-project-vvyp
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: hacbs-jvm-build-test-project
        app.kubernetes.io/instance: hacbs-test-project-vvyp
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-lszs-tenant/rhtap-demo-app/hacbs-test-project-vvyp@sha256:c74e12263262efe53a356a3aee8b9e043ab7a35baf7c41fea684cdb480267e22
        name: hacbs-jvm-build-test-project
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
status: {}
